.header
  .title
    %a{:href => '/'}
      = "DiversIT"
  .loginBox
    - if !logged_in?
      %form{:action => '/login', :method => 'POST'}
        .row
          %span{:class => 'label'}
            = 'username: '
          %span{:class => 'formw'}
            %input{:type => 'text', :id => 'username', :name => 'username', :size => '20'}
        .row
          %span{:class => 'label'}
            = 'password: '
          %span{:class => 'formw'}
            %input{:type => 'password', :id => 'password', :name => 'password', :size => '20'}
        .row
          %input{:type => 'submit', :text => 'Login'}
    - else
      = "Welcome "+logged_in.firstname + " " + logged_in.lastname
      %br
      %a{:href => '/logout'}
        = 'Logout'
  .menu
    %a{:href => '/'}
      = 'Home'
    = ' | '
    %a{:href => '/questions'}
      = 'Questions'
    - if session[:user]
      = ' | '
      %a{:href => '/profile'}
        = 'Profile'
    - else
      = ' | '
      %a{:href => '/register'}
        = 'Register'
    = ' | '
    %a{:href => '/about'}
      = 'About DiversIT'
  .error
    - if session[:error]
      = session[:error]
      - session[:error] = nil
  .notice
    - if session[:notice]
      = session[:notice]
      - session[:notice] = nil
  %br