.header
  .title
    %a{:href => '/'}
      = "diversiT"
  .loginBox
    - if !logged_in?
      %form{:action => '/login', :method => 'POST'}
        .row
          %span{:class => 'label'}
            = 'email: '
          %span{:class => 'formw'}
            %input{:type => 'text', :id => 'email', :name => 'email', :size => '20'}
        .row
          %span{:class => 'label'}
            = 'password: '
          %span{:class => 'formw'}
            %input{:type => 'password', :id => 'password', :name => 'password', :size => '20'}
        .row
          %input{:type => 'submit', :text => 'Login'}
    - else
      = "Welcome "+logged_in.firstname + " " + logged_in.lastname
      %br
      %a{:href => '/logout'}
        = 'Logout'
  .menu
    = 'Menu'