!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'content="text/html; charset=utf-8;'}
    %link{:rel => "stylesheet", :type => "text/css", :href => "styles.css"}
    %title="Shiny Sriram"
  %body
    = 'Users:<br />'
    - @users.each do |user|
      = user.username
      = ' - '
      = user.firstname
      = ' - '
      = user.lastname
      = ' - '
      = user.dob
      %br