!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'content="text/html; charset=utf-8;'}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
    %title
      = 'DiversIT: profile: ' + @user.username
  %body
    = haml :header
    .container{:id => 'profile'}
      = 'Username: '
      %b
        = @user.username
      %br
      = 'Real name: '
      %b
        = @user.firstname + ' ' + @user.lastname
      %br
      = 'Age: '
      %b
        = ((Date.today - @user.dob).to_i/365).to_s
      %br
      = 'Gender: '
      %b
        = @user.gender
      %br
      = 'Income: '
      %b
        = "$" + @user.income.to_s
      %br
      = 'Number of responses: '
      %b
        = @user.response.all().length.to_s
    = haml :footer
