!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'content="text/html; charset=utf-8;'}
    %link{:rel => "stylesheet", :type => "text/css", :href => "styles.css"}
    %title="Shiny Sriram"
  %body
    - if @question == nil
      = 'Sorry, Question not found.'
    - else
      %b
        = @question.body
      - if logged_in?
        %form{:action=>'/question/'+@question.id.to_s, :method=>'POST'}
          %input{:type=>'text', :name=>'answer'}
          %input{:type=>'submit'}
      %br
      %br
      - @question.answer.each do |answer|
        = '-'
        %a{:href=>'/addcomment/answer/'+answer.id.to_s}
          = answer.body
        %br
        - answer.comment.each do |com|
          = '--'
          = com.body
          %br
        %br
      %a{:href=>'/questions'}
        = 'View all questions'