!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'content="text/html; charset=utf-8;'}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/style.css"}
    %title="Older Questions"
  %body
    = haml :header
    = 'All Questions:<br />'
    - @questions.each do |question|
      .questionmini
        %a{:href=>'question/'+question.id.to_s}
          = question.body.to_s
          %br
          = "&nbsp;&nbsp;&nbsp;&nbsp;"+question.timestamp.to_s
          %br
          %br

    %br
    %br
    %a{:href=>'addquestion'}
      = 'Add a new Question'