!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'content="text/html; charset=utf-8;'}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
    %title
      - if @question == nil
        = 'Sorry, question not found.'
      - else
        = @question.body
  %body
    = haml :header
    - if @question == nil
      = 'Sorry, question not found.'
    - else
      %b
        = @question.body
      .stats
        = "Average answer age: "
        %b
          = @question.averageAge
        %br
        = "Average comment age: "
        %b
          = @question.commentAge
      - if logged_in?
        .container{:id => 'questionanswer'}
          %form{:action=>'/question/'+@question.id.to_s, :method=>'POST'}
            - if @question.type == 'free'
              .row
                %input{:type=>'text', :name=>'response'}
            - elsif @question.type == 'mc'
              .row
                %input{:type=>'radio', :name=>'choice', :value=>'1'}
                  = @question.choice.get(1).body
              .row
                %input{:type=>'radio', :name=>'choice', :value=>'2'}
                  = @question.choice.get(2).body
              .row
                %input{:type=>'radio', :name=>'choice', :value=>'3'}
                  = @question.choice.get(3).body
              .row
                %input{:type=>'radio', :name=>'choice', :value=>'4'}
                  = @question.choice.get(4).body
              .row
                = 'Comment: '
                %input{:type=>'text', :name=>'response'}
            .row
              %input{:type=>'submit', :value => 'Answer this question!'}
        %br
      %br

      - demo_id = 0
      - data = []
      - (1..4).each do |i|
        - data << ['Choice ' + i.to_s, @responses.all(:choice => i).length]
      - g = gruff_pie("Distribution of Responses", data, @question.id, demo_id)
      - path = "/images/" + @question.id.to_s + "_" + demo_id.to_s + ".png"
      - g.write("public" + path)
      %img{ :src => path }

      -# - g = Scruffy::Graph.new
      -# - g.title = "Response Results"
      -# - g.renderer = Scruffy::Renderers::Pie.new
      -# - g.add :pie, '', { 'Apple' => 20, 'Banana' => 100, 'Orange' => 70, 'Taco' => 30 }
      -# - g.render :to => "public/images/pie_test.svg"
      -# - g.render :width => 500, :height => 500, :to => "public/images/pie_test.png", :as => 'png'
      -# %img{ :src => "/images/pie_test.png" }

      %br

      - values = data.map { |d| d.last }
      - labels = data.map { |d| d.first }
      %img{ :src => Gchart.pie_3d(:title => 'Distribution of Responses', :size => '600x300', :data => values, :labels => labels ) }


      - @responses.each do |response|
        .response
          - if logged_in?
            = showTree response
          - else
            = showTreeNoLink response
      %a{:href=>'/questions'}
        = 'View all questions'
    = haml :footer
