!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'content="text/html; charset=utf-8;'}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
    %title="Shiny Sriram"
  %body
    = haml :header
    - if @question == nil
      = 'Sorry, Question not found.'
    - else
      %b
        = @question.body
      - if logged_in?
        %form{:action=>'/question/'+@question.id.to_s, :method=>'POST'}
          %input{:type=>'text', :name=>'response'}
          %input{:type=>'submit', :value => 'Answer this question!'}
        %br
      %br
      - @question.response.each do |response|
        .response
          = '-'
          - if logged_in?
            %a{:href=>'/addcomment/response/'+response.id.to_s}
              = response.body
          - else
            = response.body
      %a{:href=>'/questions'}
        = 'View all questions'
    = haml :footer
