!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'content="text/html; charset=utf-8;'}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
    %title
      - if @question == nil
        = 'Sorry, Question not found.'
      - else
        = @question.body
  %body
    = haml :header
    - if @question == nil
      = 'Sorry, Question not found.'
    - else
      %b
        = @question.body
      .stats
        = "Average answer age: "
        %b
          = @question.averageAge
        %br
        = "Average comment age: "
        %b
          = @question.commentAge
      - if logged_in? and @question.forday == Date.today
        %form{:action=>'/question/'+@question.id.to_s, :method=>'POST'}
        - if @question.type == 'free'
          %input{:type=>'text', :name=>'response'}
        - elsif @question.type == 'mc'
          %input{:type=>'radio', :name=>'choice', :value=>'1'}
            = @question.choice.get(1).body
          %input{:type=>'submit', :value => 'Answer this question!'}
        %br
      %br
      - @responses.each do |response|
        .response
          - if logged_in? and @question.forday == Date.today
            = showTree response
          - else
            = showTreeNoLink response
      %a{:href=>'/questions'}
        = 'View all questions'
    = haml :footer
