!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'content="text/html; charset=utf-8;'}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
    %title="DiversIT: Register"
  %body
    = haml :header
    .container{:id => 'register'}
      %form{:action => '/register', :method => 'POST'}
        .row
          = 'Enter a username: '
          %input{:type => 'text', :id => 'username', :name => 'username'}
        .row
          = 'What\'s your first name?: '
          %input{:type => 'text', :id => 'firstname', :name => 'firstname'}
        .row
          = 'What\'s your last name?: '
          %input{:type => 'text', :id => 'lastname', :name => 'lastname'}
        .row
          = 'Type a Password: '
          %input{:type => 'password', :id => 'password', :name => 'password'}
        .row
          = 'Type it again: '
          %input{:type => 'password', :id => 'pconfirm', :name => 'pconfirm'}
        .row
          = 'Your birth date: '
          %input{:type => 'text', :id => 'dob', :name => 'dob'}
        .row
          = 'Gender: '
          %input{:type => 'text', :id => 'gender', :name => 'gender'}
        .row
          = 'Income: '
          %input{:type => 'text', :id => 'income', :name => 'income'}
        .row
          %input{:type => 'submit'}
    = haml :footer