!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'content="text/html; charset=utf-8;'}
    %link{:rel => "stylesheet", :type => "text/css", :href => "styles.css"}
    %title="Register for DiversIT"
  %body
    %form{:action => '/register', :method => 'POST'}
      = 'Enter your Email Address: '
      %input{:type => 'text', :id => 'email', :name => 'email'}
      %br
      = 'What\'s your first name?: '
      %input{:type => 'text', :id => 'first', :name => 'first'}
      %br
      = 'What\'s your last name?'
      %input{:type => 'text', :id => 'last', :name => 'last'}
      %br
      = 'Type a Password: '
      %input{:type => 'password', :id => 'password', :name => 'password'}
      %br
      = 'Type it again: '
      %input{:type => 'password', :id => 'pconfirm', :name => 'pconfirm'}
      %br
      = 'Your birth date: '
      %input{:type => 'text', :id => 'bdate', :name => 'bdate'}
      %br
      %input{:type => 'submit'}